<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="Language" value="en-US"/>
		<add key="API Base Uri" value=""/>
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="UrlSchemas" value="newsignvb"/>
		<add key="SHA265" value="1"/>
		<add key="SignPaddingButton_A4" value="60"/>
		<add key="SignPaddingLeft" value="230"/>
	</appSettings>
	<system.windows.forms jitDebugging="true"/>
</configuration>
